@layout('layouts/main')

  @section('body')


  @include('index/partialsindex/caracteristicas')
  @include('index/partialsindex/productos_destacados')
  @include('index/partialsindex/productos_recientes')
  @include('index/partialsindex/marcas')

  
@end